<!-- views/partials/footer.ejs -->
<p class="footer">© Copyright 2020 bowenqiang@gmail.com</p>
<script>
    var pathname = window.location.pathname;
    var elem = null
    switch(pathname) {
        case "/":
            elem = document.getElementById("homepage");
            break;
        case "/create":
            elem = document.getElementById('create');
            break;
        case "/scan":
            elem = document.getElementById('scan');
            break;
    }
    elem.classList.add("active");
</script>