<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header') %>
    <div class="main">
        <form action="/api/devices" method="POST">
            <p>Host Name: <input type='text' name="hostname"/></p>
            <p>Mac Address: <input type='text' name="mac_address"/></p>
            <p>Ip4 Address: <input type='text' name="ip4_address"/></p>
            <p>Ip6 Address: <input type='text' name="ip6_address"/></p>
            <input type="submit" value="submit" />
        </form>
    </div>
</body>

</html>