<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header') %>
    <div class="wrapper scan">
        <div class="main">
            <div id="loading">
                <p class="title">Scanning, It might take a while....</p>
            </div>
            <div id="complete" style="display: none;">
                <p class="title">All Device on the network:</p>
                <ul id="content">
                </ul>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer') %>
    <script>
        function init() {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices/scan";
            var xhr  = new XMLHttpRequest()
            xhr.open('GET', reqUrl, true)
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "200") {
                    var scanResult = JSON.parse(xhr.response);
                    if(scanResult && scanResult.length) {
                        var elem = document.createElement("div");
                        elem.classList.add('row');
                        scanResult.forEach(function(item){
                            var li = document.createElement('li');
                            li.classList.add("device-list");
                            li.innerHTML= 
                                `<div class="row justify-content-center">
                                        <div class="col-sm-12">${item.hostname || 'Unknown'}</div>
                                        <div class="col-sm-12">${item.mac_address || 'Unknown'}</div>
                                        <div class="col-sm-12">${item.ip4_address || 'Unknown'}</div>
                                        <div class="col-sm-12">
                                            <button class="addBtn" onclick='addDevice(${JSON.stringify(item)})'>Add Device</button>
                                        </div>
                                </div>`
                            elem.appendChild(li);
                        });
                        document.getElementById('content').appendChild(elem);
                        document.getElementById('loading').style.display = 'none';
                        document.getElementById('complete').style.display = 'block';
                    }
                }
            }
            xhr.send(null);
        }
        init();

        function addDevice(device) {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices";
            var hostname = device.hostname || "unknown";
            var mac_address = device.mac_address || "";
            var ip4_address = device.ip4_address || "";
            if (!mac_address) {
                alert("Mac address can't be unknown, please add this device manually");
            }
            var params = `hostname=${hostname || 'Unknown'}&mac_address=${mac_address || ""}&ip4_address=${ip4_address}`;
            var xhr  = new XMLHttpRequest()
            xhr.open('POST', reqUrl, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "201") {
                    alert("Successfully add Device with mac: " + mac_address);
                }
            }
            xhr.send(params);
        }

        function getBaseUrl() {
            var url = window.location.href;
            var arr = url.split("/");
            return arr[0] + "//" + arr[2];
        }


    </script>
</body>

</html>